@font-face {
    font-family: 'Roboto_Condensed-ExtraLight';
    src: url('../fonts/Roboto_Condensed-ExtraLight.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueThin';
    src: url('../fonts/HelveticaNeueThin.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
body 
{
    background: #fafafa;
    margin: 0;
    perspective: 1200px;
    overflow-y:scroll;
    overflow-x: hidden;
    user-select: none;
    font-family: 'HelveticaNeueThin', sans-serif;
}

html {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

html::-webkit-scrollbar {
    display: none;
}

.page
{
    opacity:0;
    transition: 3s;
}

.nav-bar
{
    padding-top: 0.1vw;
    padding-left: 0.1vw;
    display:flex;
    flex-direction: row;
    gap: 0.1vw;
    z-index: 4;
}

.nav-bar a {
    transition: 0.3s;
    text-decoration: none;
}



.nav-button
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    border: 0.1vw solid ;
    border-radius: 0.3vw;
    background-color: #f2f2f2;
    border-color: #d3d3d3;
    width:5.3vw;
    height: 6.3vh;
}

.projects-button 
{
    display:flex;
    flex-direction: row;
    border: 0.01px solid;
    border-radius: 0.3vw;
    background-color: #f2f2f2;
    border-color: #d3d3d3;
    width: 10vw;
    height:6.3vh;
    justify-content: flex-start;
    align-items: flex-end;
}



.nav-bar h2
{
    padding-left: 0.4vw;
    font-size:0.5vw;
    font-weight:600;
    color: #a9a9a9;
}
.selected {
    color: #131313 !important;
}


.gallery
{
    position: relative;
    display:flex;
    height:80vh;
    justify-content: center;
    align-content: center;
    perspective: none;
}

.project-description
{
    display:flex;
    height: 50vh;
    align-items: center;
    justify-content: center;
}

.title
{
    font-size:5vw;
    max-width: 50vw;
    padding-left: 3vw;
    font-weight:400;
    
}



.project-images 
{
    display:grid;
    grid-template-columns: 50vw 50vw;
    
}

.project-images img
{
    opacity: 0;
    width:100%;
    height:100%;
}

.img-header
{
    grid-column: span 2;
    width: 100%;
    height: auto;
}

#contact-page {
    pointer-events: none;
    opacity: 0;
    z-index: 3;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: 1s;
}

.contact-buttons {
    display: flex;
    gap: 0.3vw;
}

#contact-page a {
    pointer-events: auto;
    background-color: rgba(128, 128, 128, 0.4);
    text-decoration: none;
    color: black;
    border: 1px solid rgba(128, 128, 128, 0.4);
    border-radius: 5px;
    padding: 10px;
}


#contact-page a:hover {
    cursor: pointer;
}
.page {
    transition: 1s;
}

.blur {
    transition: 1s;
    pointer-events: none;
    -webkit-filter: blur(10px);
    filter: blur(10px);
}